  <div class="footer_container">
      <div class="item-contents">
        <div class="copy-right">
         © Sprinkler
        </div>
        <div class="item-content">
          <%= link_to "https://github.com/KeMura-ops", class: "git-hub" do %>
            <i class="fab fa-github-alt"></i>
          <% end %>
        </div>
        <div class="item-content">
          <%= link_to "https://note.com/become_engineer", class: "note" do %>
            <i class="fas fa-book-open"></i>
          <% end %>
        </div>
      </div>
  </div>
