<div class="a">
  <div class="b"><img class="c" src="assets/free-sec1.jpg"></div>
  <div class="b"><img class="c" src="assets/free-sec2.jpg"></div>
  <div class="b"><img class="c" src="assets/free-sec3.jpg"></div>
</div>

<%= render 'partial/postbtn' %>

<%= render 'partial/footer' %>