<section class="free-section">
  <div class="sec-container">
    <div class="free-title">
      イラストレーター志望者のためのSNSプラットフォーム
    </div>
    <div class="free-text">
      気軽に作品投稿が出来る新しいSNSです。<br>
      イラスト初心者さんと交流を深めよう！<br>
      タグを検索して簡単に作品を探せます。<br>
      お気に入りの一枚がきっと見つかる！
    </div>
  </div>
</section>

<%# <div class="a">
    <div class="b"><img class="c" src="assets/image.png"></div>
    <div class="b"><img class="c" src="assets/bootstrap-icons.png"></div>
</div> %>

<%# <%= link_to '画像一覧', posts_path, method: :get %>
<%# <% User.all.each do |user| %>
  <%# <%= link_to user.nickname, [user], method: :get %>
<%# <% end %>