<p>このページは仮のトップページです。</p>
<%= link_to '画像一覧', posts_path, method: :get %>
<% User.all.each do |user| %>
  <%= link_to user.nickname, [user], method: :get %>
<% end %>
<div class="a">
    <div class="b"><img class="c" src="assets/image.png"></div>
    <div class="b"><img class="c" src="assets/bootstrap-icons.png"></div>
</div>