/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

// 基本設定
#wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4%;
}

// スライドショー
.c{
  height: 100%;
  width : 100%;
}

// フッター仮
.footer_container {
  background-color: #ffb6c1;
  height: 30px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.item-contents {
  display: flex;
}

.item-content {
  margin-left: 5px;
}

.copy-right {
  color: #8a2be2;
}

.git-hub {
  color: #8a2be2;
}

.note {
  color: #8a2be2;
}

// ヘッダー
.img {
  max-width: 100%;
}

.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 20px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #0bd;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.sub-nav {
  display: none;
}

// ヘッダー:スマホ・タブレット用
@media screen and (max-width: 1064px) {
  .main-nav {
    display: none;
  }

  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
    margin-top: 35px;
  }

  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: blue;
    transform: translateY(-50%);
  }

  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: blueviolet;
  }

  #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: royalblue;
  }

  .sub-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(255, 250, 250, 0.8);
    transition: all .2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }

  .sub-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sub-nav li {
    margin: 0;
    padding: 0;
  }

  .sub-nav li span {
    font-size: 15px;
    color: royalblue;
  }

  .sub-nav li a, .sub-nav li span {
    display: block;
    padding: 20px 0;
  }

  .sub-nav .close {
    position: relative;
    padding-left: 20px;
  }

  .sub-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: royalblue;
    transform: rotate( 45deg );
  }

  .sub-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: royalblue;
    transform: rotate( -45deg );
  }

  .toggle {
    transform: translateY( 0 );
    opacity: 1;
  }
}

// 検索フォーム
.field {
  margin-top: 34px;
  margin-left: 34px;
}

@media only screen and (max-width:599px) {
  .search-bar {
    display: none;
  }
}