<% if user_signed_in? %>
  <% if current_user.niced_by?(post.id) %>
    <td><%= link_to 'ステキを外す', destroy_nice_path(post), method: :DELETE, remote: true %> <%= post.nices.count %></td>
  <% else %>
    <td><%= link_to 'ステキ', create_nice_path(post), method: :POST, remote: true %> <%= post.nices.count %></td>
  <% end %>
<% end %>